<!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="/stylesheets/application.css">

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false?key=AIzaSyCf6gXkMFwAre0_Wh_AY6Urzze12RO2zic">
    </script>

    <script type='text/javascript' src='http://code.jquery.com/jquery-1.11.1.min.js'></script>

    <script src="/javascript/application.js"> </script>
    <script src="/javascript/500px_mashup.js"> </script>
    <script src="/javascript/instagram_mash.js"> </script>

    
  </head>
  <body>
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <div id="map-canvas">
    
  </div>
  </body>
</html>
